.agenda-rex{
    color: white;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
    
}

.agenda-rex h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;
    
}
.agenda-eventorex{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow:  -1px 17px -4px rgba(0, 0, 0, 0.45);
    overflow: hidden;  
    
}
.agenda-eventorex img{     
    transition: transform 0.2s;
    border-radius: 10px;
    width: 100%;
    
}
.agenda-eventorex img:hover{
    transform: scale(1.2);
    z-index: 1;
}
.agendainfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    z-index: 99;
}
.agendainfo button{
    color: white;
    background-color: red;
    padding: 4px 8px;
    border-radius: 4px;
    border: 0;
    cursor: default;
}