@import url('https://fonts.googleapis.com/css2?family=Honk&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;    
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #911616ab;
}
li{
    list-style: none;
}
body{
    font-family: "Poppins";
    width: 100%;
    height: 100vh;
    position: relative;
    content: '';
    display: block;   
    background-image: linear-gradient(to bottom, #040449
    , #3a38388f
    ), url(../img/publico.png);         
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.9;
}
button{
    cursor: pointer;
}
img{
    width: 100%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.consti{
    width: fit-content;
}
.map{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}