.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
}
.home-rex{
    position: relative;
}

.herorex{
    color: whitesmoke;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;    
}
.herorex h1{
    text-align: center;
    line-height: 150%;
    max-width: 940px;
    font-size: 46px;
    text-transform: uppercase;
}
.herorex p{
    text-align: center;
    margin: 14px 0;
    text-transform: uppercase;
}